<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>WebMailApp</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MailServlet</display-name>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>com.cfn.app.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
</web-app>